<% @spells = Spell.all %>
  <% @spells.each do |spell| %>
    <div id="accordion" class="my-2">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%= spell.id %>" aria-expanded="true" aria-controls="collapse<%= spell.id %>">
              <%= spell.name %> | <%= spell.school  %> | Level: <%= spell.level  %> | Damage Type: <%= spell.damage_type  %>
            </button>
          </h5>
        </div>

        <div id="collapse<%= spell.id %>" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
              <p>School: <%= spell.school  %></p>
              <p>Range: <%= spell.range  %></p>
              <p>Components: <%= spell.components  %></p>
              <p>Ritual: <%= spell.ritual  %></p>
              <p>Duration: <%= spell.duration  %></p>
              <p>Concentration: <%= spell.concentration  %></p>
              <p>Casting Time: <%= spell.casting_time  %></p>
              <p>Spell Level: <%= spell.level  %></p>
                <h5 style="text-decoration: underline;">Description</h5>
              <p><%= spell.desc  %></p>
              <p>Classes: <%= spell.classes  %></p>
              <p>Subclasses: <%= spell.subclasses  %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
